apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    app: mysq
spec:
  selector:
    matchLabels:
      app: mysq
  replicas: 1
  template:
    metadata:
      labels:
        app: mysq
    spec:
      containers:
      - name: db-ass2
        image: 838856494475.dkr.ecr.us-east-1.amazonaws.com/ass1_database:v0.1
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 3306
        env: 
        - name: MYSQL_ROOT_PASSWORD
          value: ish